
.communicationPanel, .visualPanel {
    float: left;
}

.communicationPanel {
    width: 30%;
    min-width: 350px;
    height: 100%;
    border: 2px solid #a2a2a2;
}

#appBuckets {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 450px);
}

.visualPanel {
    width: calc( 70% - 4px);
    height: 100%;
}

.inputNumbers {
    font-family: 'Overpass', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.shelfData {
    margin-top: 5px;
}

.topRibbon {
    height: 18px;
}
